 
html {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#Header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

#Logo
{
    height: 50px;
    padding-left: 10px;
}

#Nav
{
    padding-right: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Nav a
{
    text-decoration: underline;
}

#Main
{
    margin-top: 70px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#Mission
{
    position: relative;
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    background-image: url("./img/img-mission-background.jpg");
}

#Black-Stripe
{
    width: 1200px;
    background-color: black;
}

#Featured-Tea
{
    width: 1000px;
}

#Featured-Tea-Title
{
    margin-top: 65px;
}

#Featured-Tea-Title h2,h4
{
    margin: 20px;
}

#Featured-Tea-Images
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 75px;
}

.tea-display
{
    margin: 15px;
}

.tea-display img
{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.tea-display h4
{
    margin: 0px;
}

#Locations
{
    height: 500px;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    background-image: url("./img/img-locations-background.jpg");
}

#Locations h2
{
    background-color: transparent;
    position: relative;
    width: 100%;
    margin: 0px;
}

.location
{
    opacity: 1;
    background-color: black;
    width: 300px;
    margin-top: 15px;
    margin-right: 40px;
}

#Contact-Info
{
    height: 200px;
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#Contact-Info h2
{
    margin: 15px;
}

#Footer h4
{
    text-align: left;
    margin-left: 20px;
}